<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <title></title>
  </head>
  <body>
    <h1>Welcome to cats.com, <%= @user.name %></h1>
    <p>You have successfully signed up to cats.com
    your username is : <%= user.username %> </p>
    <p>To log into the site just follow this link: <%= url %> </p>
  </body>
</html>
